[Unit]
Description=production-celeryworker
After=network.target

[Service]
Type=simple
User=www-data
Group=www-data
RuntimeDirectory=celery
ExecStart=/mnt/data/var/vhosts/production/deploy celery \
  -s /var/run/celery/celerybeat_schedule \
  --pidfile /var/run/celery/celerybeat.pid

[Install]
WantedBy=multi-user.target
