[Unit]
Description=production-celeryworker
After=network.target

[Service]
Type=simple
User=www-data
Group=www-data
RuntimeDirectory=celery
EnvironmentFile=/mnt/data/var/vhosts/production/.env
WorkingDirectory=/mnt/data/var/vhosts/production/backend/src
ExecStart=/mnt/data/var/vhosts/production/venv/bin/celery worker -B -A wagtailnest \
  -l error \
  -s /var/run/celery/celerybeat_schedule \
  --pidfile /var/run/celery/celerybeat.pid

[Install]
WantedBy=multi-user.target
