[Unit]
Description=production-gunicorn
After=network.target

[Service]
Type=simple
User=www-data
Group=www-data
RuntimeDirectory=gunicorn
ExecStart=/mnt/data/var/vhosts/production/deployment/deploy gunicorn \
  --bind=unix:/var/run/gunicorn/gunicorn.socket

[Install]
WantedBy=multi-user.target
